{% extends "base.html" %}

{% block content %}

<div class="container h-100">

    <div class="row h-100 justify-content-center align-items-center">
    
    <form class="form-inline" action="/search" method="post" style="max-width: 440px;">
    
      <div class="form-group col-12">
        <span class="logo-type">LiterView</span>
      </div>

    <div class="form-group col-12">
      <input type="text" class="form-field" placeholder="Keywords to find articles with" name="base_keywords">
    </div>

    <div class="form-group col-12">
      <input type="checkbox" class="checkmark" id="vehicle1" name="pubmed" value="PubMed">
      <label class="checkmark-type" for="vehicle1"> PubMed</label>
      <input type="checkbox" class="checkmark" id="vehicle2" name="arxiv" value="ArXiv">
      <label class="checkmark-type" for="vehicle2"> ArXiv</label>
      <input type="checkbox" class="checkmark" id="vehicle3" name="springer" value="Springer">
      <label class="checkmark-type" for="vehicle3"> Springer</label>
    </div>
    
    <div class="form-group col-12">
        <div class="divider"></div>
    </div>

    <div class="form-group col-12">
    
      <div class="range-wrap">
        <div class="range-value" id="rangeV"></div>
        <input class="form-slider" id="range" type="range" min="100" max="2000" value="200" step="100">
      </div>
        
    </div>

    <div class="form-group col-12">
      <input type="text" class="form-field form-field-narrow"  placeholder="Grouping keyword" name="class_keywords">
 
      <input type="text" class="form-field form-field-narrow"  placeholder="Grouping label" name="class_label">
    </div>


    <div class="form-group col-12">

      <button type="image" class="button-image mx-auto"><img src="static/material-icon.png" width=120px;></button>
    
    </div>

  </form>


<script>

const
  range = document.getElementById('range'),
  rangeV = document.getElementById('rangeV'),
  setValue = ()=>{
    const
      newValue = Number( (range.value - range.min) * 100 / (range.max - range.min) ),
      newPosition = 10 - (newValue * 0.2);
    rangeV.innerHTML = `<span>${range.value}</span>`;
    rangeV.style.left = `calc(${newValue}% + (${newPosition}px))`;
  };
document.addEventListener("DOMContentLoaded", setValue);
range.addEventListener('input', setValue);

</script>

{% endblock %}