body,html {
    height: 100%;
}

body {
    font-size: 24px;
	background-color: #E5E5E5;
}

.hidden {
	display: none;
}

.divider {
	margin-top: 30px;
}

input[type=range] {
	-webkit-appearance: none;
	margin: 20px 0;
	width: 100%;
  }

  input[type=range]:focus {
	outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: #5ABCC9;
	border-radius: 25px;
  }
  
  input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #5ABCC9;
  }
  .range-wrap {
	width: 400px;
	position: relative;
  }
  .range-value {
	position: absolute;
	top: -50%;
  }
  .range-value span {
	width: 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #5ABCC9;
	color: #fff;
	font-size: 12px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 6px;
  }
  .range-value span:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #5ABCC9;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
  }

.form-slider {

	width: 400px;
	margin-bottom: 8px;
	margin-top: 8px;

}

.form-field {

	width: 400px;
	height: 50px;
	background: #fbfbfb;
	font-size: 16px;

	padding-left: 12px;
	margin-bottom: 8px;
	margin-top: 8px;

	border-color: rgb(183, 183, 183);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.form-field-narrow {

	margin: auto;
	width: 190px;
}

input:focus { 
    outline: none !important;
    border-color: rgb(183, 183, 183);
    box-shadow: 0 0 10px #719ece00;
}

textarea:focus { 
    outline: none !important;
    border-color: rgb(183, 183, 183);
    box-shadow: 0 0 10px #719ece00;
}



::placeholder {
	color: rgb(208, 208, 208);
	font-style: italic;
  }

.logo-type {
	
	margin: auto;
	margin-bottom: 20px;
	font-family: IBM Plex Serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 39px;

	text-align: center;
	color: #1C2E43;
}

button, input[type="submit"], input[type="reset"] {

	margin-top: 20px;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
	opacity: 60%;
	transition: opacity 0.2s ease-in-out;
}

/* Create a custom checkbox */
.checkmark {
	height: 15px;
	width: 15px;
	background-color: #eee;
	margin-left: 5px;
	margin-right: 5px;
  }

.checkmark-type {
	font-size: 15px;
	color: grey;
	margin-right: 15px;
}

button:hover {

	opacity: 50%
}

.form-css {
	display: block;
    font-size: 24px;
    margin: 10px;
	font-family: sans-serif;
	font-weight: 600;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
    max-width: 800px;
    height: 65px;
	box-sizing: border-box;

	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.form-css::-ms-expand {
	display: none;
}
.form-css:hover {
	border-color: #888;
}
.form-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.select-css {
	display: block;
	font-size: 24px;
	font-family: sans-serif;
	font-weight: 600;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
    max-width: 500px;
    height: 65px;
	box-sizing: border-box;
	margin: 10px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}